.navbar {
    border-color: #76c893;
    box-shadow: 0px 8px 16px #76c893;
    min-width: 994px;
    height: 38px;
}

.title {
	min-width: 984px;
}

.subtitle {
	min-width: 974px;
}

.alphabeta-quiz-container {
    width: 61.4%;
    max-width: 964px;
    min-width: 964px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    animation-duration: 1s;
    animation-name: border-fade;
    margin-top: -5px;
}

@keyframes border-fade {
    0% {
        box-shadow: 0px 0px 10px #76c893;
    }
    50% {
        box-shadow: 0px 0px 10px #76c893;
    }
    100% {
        box-shadow: 0px 0px 10px black;
    }
}

.center {
    text-align: center;
    position: relative;
}

.next-icon {
	position: absolute;
	left: -15px;
}

.next-icon:hover {
    fill: #76c893;
    cursor: pointer;
}

.see-your-results {
	position: relative;
    display: none;
}

.icon-description {
	position: absolute;
    color: #0077b6;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 200px;
    left: -100px;
    top: 40px;
}

.space-btwn {
	padding-bottom: 30px;
}

.triangle-container {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    filter: drop-shadow(0px 0px 3px black);
    transform: rotate(45deg);
    animation-duration: 1s;
    animation-name: triangle-border-fade;
}

.triangle {
    border-left: 32.5px solid transparent;
    border-right: 32.5px solid transparent;
    border-bottom: 60px solid #76c893;
    transform: rotate(-45deg);
}

.upsidedown-triangle-container {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    filter: drop-shadow(0px 0px 3px black);
    transform: rotate(-45deg);
    animation-duration: 1s;
    animation-name: upsidedown-triangle-border-fade;
}

.upsidedown-triangle {
    border-left: 32.5px solid transparent;
    border-right: 32.5px solid transparent;
    border-top: 60px solid #0077b6;
    transform: rotate(45deg);
}

.square-container {
    filter: drop-shadow(0px 0px 3px black);
    animation-duration: 1s;
    animation-name: square-border-fade;
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.square {
    width: 25px;
    height: 25px;
    background-color: #ffacc5;
    font-size: 13px;
    padding-top: 3px;
    font-weight: bold;
}

@keyframes triangle-border-fade {
    0% {
        filter: drop-shadow(0px 0px 4px #76c893);
    }
    50% {
        filter: drop-shadow(0px 0px 4px #76c893);
    }
    100% {
       filter: drop-shadow(0px 0px 3px black);
    }
}

@keyframes upsidedown-triangle-border-fade {
    0% {
        filter: drop-shadow(0px 0px 4px #0077b6);
    }
    50% {
        filter: drop-shadow(0px 0px 4px #0077b6);
    }
    100% {
       filter: drop-shadow(0px 0px 3px black);
    }
}

@keyframes square-border-fade {
    0% {
        color: white;
        filter: drop-shadow(0px 0px 4px #ffacc5);
    }
    50% {
        color: white;
        filter: drop-shadow(0px 0px 4px #ffacc5);
    }
    100% {
        color: black;
        filter: drop-shadow(0px 0px 3px black);
    }
}


.row2-right-branch-container,
.row2-left-branch-container,
.row1-left-branch-container,
.row1-right-branch-container {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 100px;
}

.row3 {
    display: inline-block;
}

.tree-edge {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 50px;
    background-color: white;
    filter: drop-shadow(0px 0px 3px black);
    animation-duration: 1s;
    animation-name: edge-fade;
}

@keyframes edge-fade {
    0% {
        filter: drop-shadow(0px 0px 3px grey);
    }
    50% {
        filter: drop-shadow(0px 0px 3px grey);
    }
    100% {
        filter: drop-shadow(0px 0px 3px black);
    }
}

.edge {
    position: relative;
}

.custom-edge-left-1 {
    transform: rotate(52deg);
    transform-origin: bottom left;
    margin-left: 30px;
    height: 163px;
}

.custom-edge-right-1 {
    transform: rotate(-52deg);
    transform-origin: bottom right;
    margin-left: -30px;
    height: 163px;
}

.custom-edge-left-2 {
    transform: rotate(36deg);
    transform-origin: bottom left;
    height: 128px;
}

.custom-edge-right-2 {
    transform: rotate(-35.5deg);
    transform-origin: bottom right;
    height: 128px;
}

.tree-edge-center {
    transform: rotate(180deg);
    transform-origin: bottom;
    height: 30px;
}

.resultsText {
    font-size: 20px;
    font-weight: bold;
    color: #76c893;
    padding-bottom: -40px;
}

.minimax-value {
    background-color: transparent;
    width: 30px;
    height: 30px;
    position: absolute;
    margin-right: 20px;
    margin-left: -13.5px;
    font-size: 12px;
    z-index: 1;
    font-weight: bold;
}


.tri-val-7 {
    left: 430px;
    margin-top: -10px;
}

.tri {
    margin-left: 19px;
    margin-top: 30px;
}

.up-tri {
    margin-left: 132px;
    margin-top: 15px;
}

.minimax-code {
    font-size: 8.5px;
    position: absolute;
    z-index: 1;
    margin-top: -16px;
    color: grey;
    margin-left: 4px;
}

.right-side {
    margin-left: 63%;
    margin-top: -125px;
    margin-bottom: -170px;
    position: relative;
}

.custom-code-border {
  position: relative;
  width: 278px;
  height: 250px;
  margin-left: 75px;
  margin-top: 3px;
}

.custom-code-border::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-bottom: 3px solid #D3D3D3;
  border-left: 3px solid #D3D3D3;
  border-bottom-left-radius: 15px;
  z-index: -1;
}

.minimax-tree-html {
    position: relative;
    margin-top: 40px;
    margin-bottom: -20px;
}

.alpha-symbol {
    width: 23px;
    display: inline;
}

.beta-symbol {
    width: 22px;
    display: inline;
}

.symbol-description {
    display: inline;
    font-size: 9px;
}

.description {
    padding-top: 15px;
    font-size: 9px;
}

.alpha-beta-info {
    font-size: 9px;
    color: grey;
}

.alpha-input, .beta-input {
    text-align: center;
    width: 25px;
    height: 25px;
    font-size: 11px;
}

.alpha-input:disabled {
    background-color: #F8F8F8;
}

.beta-input:disabled {
    background-color: #F8F8F8;
}

.minimax-tree-html {
    margin-bottom: -10px;
}

.alpha-beta-page-info-1,
.alpha-beta-page-info-2,
.alpha-beta-page-info-3,
.alpha-beta-page-info-4,
.alpha-beta-page-info-5,
.alpha-beta-page-info-6,
.alpha-beta-page-info-7,
.alpha-beta-page-info-8,
.alpha-beta-page-info-9,
.alpha-beta-page-info-10,
.alpha-beta-page-info-11,
.alpha-beta-page-info-12,
.alpha-beta-page-info-13,
.alpha-beta-page-info-14,
#pointer-1, #pointer-1-info {
    position: absolute;
    z-index: 1;
}

.alpha-beta-page-info-1 {
    left: 380px;
    top: 18px;
}

.alpha-beta-page-info-2 {
    left: 195px;
    top: 180px;
}

.alpha-beta-page-info-3 {
    left: 115px;
    top: 340px;
}

.alpha-beta-page-info-4 {
    left: 232px;
    top: 340px;
}

.alpha-beta-page-info-5 {
    left: 303px;
    top: 180px;
}

.alpha-beta-page-info-6 {
     left: 258px;
     top: 380px;
}

.alpha-beta-page-info-7 {
    left: 386px;
    top: 380px;
}


.alpha-beta-page-info-8 {
     left: 492px;
     top: 18px;
}

.alpha-beta-page-info-9 {
     left: 573px;
     top: 180px;
}

.alpha-beta-page-info-10 {
     left: 494px;
     top: 340px;
}

.alpha-beta-page-info-11 {
     left: 608px;
     top: 340px;
}

.alpha-beta-page-info-12 {
    left: 679px;
    top: 180px;
}

.alpha-beta-page-info-13 {
      left: 635px;
      top: 380px;
}

.alpha-beta-page-info-14 {
    left: 765px;
    top: 380px;
}

input:disabled {
    background-color: #E8E8E8;
    color: black;
    border: 1px solid darkgray;
    cursor: not-allowed;
    font-weight: normal;
}

input {
    border: 2px solid black;
    font-weight: bold;
}

input[type="text"]:focus {
    border: 2px solid black;
    outline: none;
}

#pointer-1 {
    left: 125px;
    top: 180px;
    animation: float .75s ease-in-out infinite;
    display: block;
}

#pointer-1-info {
    left: -47px;
    top: 156px;
    width: 200px;
    font-size: 9px;
    color: black;
    font-weight: bold;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2px);
    }
}

.pointer {
    width: 65px;
}

.prune-hint-section {
	position: relative;
}

.hint-icon {
	width: 17px;
    display: inline;
    position: absolute;
    z-index: 9999;
}

.hint-icon:hover {
    cursor: pointer;
}

.prune-icon {
    width: 28px;
    display: inline;
    z-index: 9999;
    position: absolute;
    left: 40px;
}

.prune-icon:hover {
    cursor: move;
}

.hint-icon-description {
    width: 10px;
}


.score-update {
    text-align: center;
    position: relative;
    margin-top: -40px;
    padding-bottom: 30px;
}

.show-animation {
   animation: show 2s ease-in-out 1 forwards;
}

@keyframes show {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    25%, 75% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.incorrect-update-2 {
    width: 36px;
    visibility: hidden;
    position: absolute;
    left: 445px;
}

.correct-update-2 {
    width: 36px;
    visibility: hidden;
}

.given-1 {
    border: 2px solid grey;
}

.hint-text {
    display: none;
    position: absolute;
}

.hint-text {
    width: 250px;
    font-size: 10px;
    margin-top: 60px;
    font-weight: bold;
}

.resultsText {
    margin-bottom: -15px;
}

.resultsText {
    color: #76c893;
    font-weight: bold;
}

.prune-info-icon {
    width: 18px;
}

.dragging {
    visibility: hidden !important;
}

.drag-hover {
    color: white;
}

.prune-node {
    animation-duration: 1s;
    animation-name: prune;
    animation-fill-mode: forwards;
}

@keyframes prune {
    0% {
        filter: grayscale(0%);
    }
    100% {
        filter: grayscale(100%);
        color: white;
    }
}

#restart-2 {
    width: 28px;
    display: none;
    margin-top: 30px;
    margin-bottom: -50px;
}

#resultsText h6 {
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -30px;
}

@media only screen and (max-width: 994px) {
    html, body {
        transform: scale(0.63);
        transform-origin: 0 0;
        width: 158.730%;
        height: 158.730%;
    }
}