.basics-quiz-container{
    width: 87%;
    height: 90%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    animation-duration: 1s;
    animation-name: border-fade;
}

@keyframes border-fade {
    0% {
        box-shadow: 0px 0px 10px #76c893;
    }
    50% {
        box-shadow: 0px 0px 10px #76c893;
    }
    100% {
        box-shadow: 0px 0px 10px black;
    }
}

.center {
    text-align: center;
}

.next-icon {
    margin-top: 20px;
}

.next-icon:hover {
    fill: #76c893;
}

.icon-description {
    padding-top: 4px;
    color: #0077b6;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: -10px;
}

.triangle-container {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    filter: drop-shadow(0px 0px 3px black);
    transform: rotate(45deg);
    animation-duration: 1s;
    animation-name: triangle-border-fade;
}

.triangle {
    border-left: 32.5px solid transparent;
    border-right: 32.5px solid transparent;
    border-bottom: 60px solid #76c893;
    transform: rotate(-45deg);
}

.upsidedown-triangle-container {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    filter: drop-shadow(0px 0px 3px black);
    transform: rotate(-45deg);
    animation-duration: 1s;
    animation-name: upsidedown-triangle-border-fade;
}

.upsidedown-triangle {
    border-left: 32.5px solid transparent;
    border-right: 32.5px solid transparent;
    border-top: 60px solid #0077b6;
    transform: rotate(45deg);
}

.square-container {
    filter: drop-shadow(0px 0px 3px black);
    animation-duration: 1s;
    animation-name: square-border-fade;
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.square {
    width: 25px;
    height: 25px;
    background-color: #ffacc5;
    font-size: 13px;
    padding-top: 3px;
    font-weight: bold;
}

@keyframes triangle-border-fade {
    0% {
        filter: drop-shadow(0px 0px 4px #76c893);
    }
    50% {
        filter: drop-shadow(0px 0px 4px #76c893);
    }
    100% {
       filter: drop-shadow(0px 0px 3px black);
    }
}

@keyframes upsidedown-triangle-border-fade {
    0% {
        filter: drop-shadow(0px 0px 4px #0077b6);
    }
    50% {
        filter: drop-shadow(0px 0px 4px #0077b6);
    }
    100% {
       filter: drop-shadow(0px 0px 3px black);
    }
}

@keyframes square-border-fade {
    0% {
        filter: drop-shadow(0px 0px 4px #ffacc5);
        color: white;
    }
    50% {
        filter: drop-shadow(0px 0px 4px #ffacc5);
        color: white;
    }
    100% {
       filter: drop-shadow(0px 0px 3px black);
       color: black;
    }
}


.row2-right-branch-container,
.row2-left-branch-container,
.row1-left-branch-container,
.row1-right-branch-container {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 100px;
}

.row3 {
    display: inline-block;
}

.tree-edge {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 50px;
    background-color: white;
    filter: drop-shadow(0px 0px 3px black);
    animation-duration: 1s;
    animation-name: edge-fade;
}

@keyframes edge-fade {
    0% {
        filter: drop-shadow(0px 0px 3px grey);
    }
    50% {
        filter: drop-shadow(0px 0px 3px grey);
    }
    100% {
        filter: drop-shadow(0px 0px 3px black);
    }
}

.edge {
    position: relative;
}

.custom-edge-left-1 {
    transform: rotate(52deg);
    transform-origin: bottom left;
    margin-left: 30px;
    height: 163px;
}

.custom-edge-right-1 {
    transform: rotate(-52deg);
    transform-origin: bottom right;
    margin-left: -30px;
    height: 163px;
}

.custom-edge-left-2 {
    transform: rotate(36deg);
    transform-origin: bottom left;
    height: 128px;
}

.custom-edge-right-2 {
    transform: rotate(-35.5deg);
    transform-origin: bottom right;
    height: 128px;
}

.tree-edge-center {
    transform: rotate(180deg);
    transform-origin: bottom;
    height: 30px;
}

input {
    background-color: transparent;
    width: 30px;
    height: 30px;
    position: absolute;
    margin-right: 20px;
    margin-left: -13.5px;
    font-size: 12px;
    z-index: 1;
}

.tri {
     margin-top: 30px;
}

#basic-results h6 {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

#next-container {
    display: none;
    margin-top: -20px;
}


.tri-info {
    margin-top: -2.5px;
    margin-bottom: -2.5px;
}

.start-info {
    margin-bottom: 7px;
}

.fill-info {
    font-size: 14px;
    font-weight: bold;
    display: inline;
}

.tri-info {
    font-size: 10px;
    color: black;
    text-align: left;
}

.star {
    font-size: 40px;
    position: absolute;
    left: 175px;
    top: -37px;
    color: yellow;
    font-weight: bold;
}

.star-container {
    position: relative;
    display: inline-block;
    width: 100%
}

.pointer, .pointer-info {
    position: absolute;
}

.pointer-info {
    width: 270px;
    font-size: 10px;
    color: black;
    font-weight: bold;
}

#pointer-1 {
    bottom: 275px;
    left: 440px;
    display: block;
}

#pointer-info-1 {
    top: 605px;
    left: 290px;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2px);
    }
}

.pointer {
    width: 65px;
    animation: float .75s ease-in-out infinite;
}

.tri, .up-tri {
    text-align: center;
    font-weight: bold;
}

input[type="text"]:focus {
    border: 2px solid black;
    outline: none;
}

.score-update {
    text-align: center;
    position: relative;
}

.show-animation {
   animation: show 2s ease-in-out 1 forwards;
}

@keyframes show {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    25%, 75% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.incorrect-update {
    width: 35px;
    height: 35px;
    visibility: hidden;
    position: absolute;
    left: 442px;
    top: -15px;
}

.correct-update {
    width: 35px;
    position: absolute;
    left: 442px;
    top: -15px;
    visibility: hidden;
}

#pointer-2{
   top: 595px;
   left: 720px;
}

#pointer-info-2{
    top: 603px;
    left: 664px;
}

#pointer-3{
   top: 420px;
   left: 520px;
}

#pointer-info-3{
    top: 428px;
    left: 370px;
}

#pointer-4{
   top: 598px;
   left: 818px;
}

#pointer-info-4{
    top: 606px;
    left: 668px;
}

#pointer-5{
   top: 598px;
   left: 1095px;
}

#pointer-info-5{
    top: 606px;
    left: 1040px;
}

#pointer-6{
   top: 420px;
   left: 1020px;
}

#pointer-info-6{
    top: 428px;
    left: 965px;
}

#pointer-7{
   top: 275px;
   left: 830px;
}

#pointer-info-7{
    top: 282px;
    left: 776px;
}


input:disabled {
    cursor: not-allowed;
}

.star {
    width: 20px;
    margin-top: 5px;
}
