.alphabeta-main-container {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px #76c893;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.center {
    text-align: center;
}

.next-icon {
    margin-top: 20px;
}

.next-icon:hover {
    fill: #76c893;
}

.icon-description {
    padding-top: 4px;
    color: #0077b6;
    font-size: 10px;
    font-weight: bold;
}