.navbar {
    border-color: #76c893;
    box-shadow: 0px 8px 16px #76c893;
    min-width: 470px;
    height: 38px;
}

.intro-alphabeta-container {
    width: 61.4%;
    max-width: 964px;
    min-width: 440px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px #76c893;
    padding: 17px;
    margin-bottom: 20px;
    border-radius: 15px;
    margin-top: -5px;
}

.game-tree {
    width: 250px;
    margin: 15px;
}

.minimax-tree {
    width: 400px;
    margin: 20px;
}

.center {
    text-align: center;
}

h6 {
    font-size: 15px;
    padding: 10px;
}

h5 {
    font-size: 10px;
}

.remove-space {
    margin-bottom: -10px;
}

.next-icon {
    margin-top: 10px;
}

.next-icon:hover {
    fill: #76c893;
}

.icon-description {
    padding-top: 4px;
    color: #0077b6;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: -15px;
}

.bold {
    font-weight: bold;
    margin-bottom: -5px;
}

.custom-h5 {
    font-size: 10px;
}

.info {
    font-size: 8px;
    margin-top: -20px;
}

.top {
	margin-top: -10px;
}

.size-decrease {
	font-size: 12px;
}

@media only screen and (max-width: 470px) {
    html, body {
        transform: scale(0.8);
        transform-origin: 0 0;
        width: 125%;
        height: 125%;
	}
}
