{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='minimax-quiz/minimaxBasicsQuiz.css')}}">

<p class="subtitle">Minimax Basics Quiz</p>

<div class="basics-quiz-container">

    <div class="pointer-container" id="pointer-container">
        <img id="pointer-1" class="pointer" src="{{ url_for('static', filename='images/pointer-left.png') }}" alt="Navigation Pointer">
        <p id="pointer-info-1" class="pointer-info">Start</p>
    </div>

    <div class="start-info">
        <div style="margin-bottom: -15px;">
            <h6 class="fill-info">Fill in the Minimax Values</h6>
            <h6 class="star-container">
                <span><img id="star-1" class="star" src="{{ url_for('static', filename='images/star.png') }}" alt="Star Icon"></span>
            </h6>
        </div>
        <p class="tri-info"><i>Regular triangles are Max Nodes that select the highest value</i></p>
        <p class="tri-info"><i>Upside-down triangles are Min Nodes that select the lowest value</i></p>
    </div>
    <div class="center">
        <div class="minimax-tree-html">
            <div class="row0-root-container">
                <input type="text" class="minimax-value-7 tri" disabled="true">
                <div class="triangle-container"><div class="root triangle"></div></div>

                <div class="row1-left-branch-container">
                    <div class="edge"><div class="tree-edge tree-edge-left custom-edge-left-1"></div></div>
                    <input type="text" class="minimax-value-3 up-tri" disabled="true">
                    <div class="upsidedown-triangle-container"><div class="row1 upsidedown-triangle"></div></div>

                    <div class="row2-left-branch-container">
                        <div class="edge"><div class="tree-edge tree-edge-left custom-edge-left-2"></div></div>
                        <input type="text" class="minimax-value-1 tri">
                        <div class="triangle-container"><div class="row2 triangle"></div></div>
                        <div class="row3 left-terminal"><div class="edge"><div class="tree-edge tree-edge-center"></div></div><div class="square-container"><div class="square">8</div></div></div>
                        <div class="row3 right-terminal"><div class="edge"><div class="tree-edge tree-edge-center"></div></div><div class="square-container"><div class="square">5</div></div></div>
                    </div>

                    <div class="row2-right-branch-container">
                        <div class="edge"><div class="tree-edge tree-edge-right custom-edge-right-2"></div></div>
                        <input type="text" class="minimax-value-2 tri" disabled="true">
                        <div class="triangle-container"><div class="row2 triangle"></div></div>
                        <div class="row3 left-terminal"><div class="edge"><div class="tree-edge tree-edge-center"></div></div><div class="square-container"><div class="square">50</div></div></div>
                        <div class="row3 right-terminal"><div class="edge"><div class="tree-edge tree-edge-center"></div></div><div class="square-container"><div class="square">7</div></div></div>
                    </div>
                </div>

                <div class="row1-right-branch-container">
                    <div class="edge"><div class="tree-edge tree-edge-right custom-edge-right-1"></div></div>
                    <input type="text" class="minimax-value-6 up-tri" disabled="true">
                    <div class="upsidedown-triangle-container"><div class="row1 upsidedown-triangle"></div></div>

                    <div class="row2-left-branch-container">
                        <div class="edge"><div class="tree-edge tree-edge-left custom-edge-left-2"></div></div>
                        <input type="text" class="minimax-value-4 tri" disabled="true">
                        <div class="triangle-container"><div class="row2 triangle"></div></div>
                        <div class="row3 left-terminal"><div class="edge"><div class="tree-edge tree-edge-center"></div></div><div class="square-container"><div class="square">2</div></div></div>
                        <div class="row3 right-terminal"><div class="edge"><div class="tree-edge tree-edge-center"></div></div><div class="square-container"><div class="square">9</div></div></div>
                    </div>

                    <div class="row2-right-branch-container">
                        <div class="edge"><div class="tree-edge tree-edge-right custom-edge-right-2"></div></div>
                        <input type="text" class="minimax-value-5 tri" disabled="true">
                        <div class="triangle-container"><div class="row2 triangle"></div></div>
                        <div class="row3 left-terminal"><div class="edge"><div class="tree-edge tree-edge-center"></div></div><div class="square-container"><div class="square">14</div></div></div>
                        <div class="row3 right-terminal"><div class="edge"><div class="tree-edge tree-edge-center"></div></div><div class="square-container"><div class="square">12</div></div></div>
                    </div>
                </div>

            </div>
        </div>

        <div id="score-update" class="score-update" style="margin-top: -20px;">
            <img class="incorrect-update" id="incorrect-update" src="{{ url_for('static', filename='images/incorrect.png') }}" alt="Incorrect Answer">
            <img class="correct-update" id="correct-update" src="{{ url_for('static', filename='images/correct.png') }}" alt="Correct Answer">
        </div>

        <div style="margin-bottom: 10px; margin-top: -10px;" id="basic-results"></div>

        <div id="next-container">
        <a href="/alphabetaQuiz">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="#0077b6" class="bi bi-arrow-right-circle next-icon" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
            </svg>
        </a>
        <h6 class="icon-description">Alpha-beta Quiz</h6>
        </div>

    </div>
</div>

{% endblock %}