{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='minimax-quiz/minimaxBasicsQuiz.css')}}">

<p class="subtitle">Minimax Basics Quiz</p>

<div class="basics-quiz-container">
    <div class="center">

        <div class="minimax-tree-html">
            <div class="row0-root-container">
                <input class="minimax-value-7 tri">
                <div class="triangle-container"><div class="root triangle"></div></div>

                <div class="row1-left-branch-container">
                    <div class="edge"><div class="tree-edge tree-edge-left custom-edge-left-1"></div></div>
                    <input class="minimax-value-3 up-tri">
                    <div class="upsidedown-triangle-container"><div class="row1 upsidedown-triangle"></div></div>

                    <div class="row2-left-branch-container">
                        <div class="edge"><div class="tree-edge tree-edge-left custom-edge-left-2"></div></div>
                        <input class="minimax-value-1 tri">
                        <div class="triangle-container"><div class="row2 triangle"></div></div>
                        <div class="row3 left-terminal"><div class="edge"><div class="tree-edge tree-edge-center"></div></div><div class="square-container"><div class="square">10</div></div></div>
                        <div class="row3 right-terminal"><div class="edge"><div class="tree-edge tree-edge-center"></div></div><div class="square-container"><div class="square">6</div></div></div>
                    </div>

                    <div class="row2-right-branch-container">
                        <div class="edge"><div class="tree-edge tree-edge-right custom-edge-right-2"></div></div>
                        <input class="minimax-value-2 tri">
                        <div class="triangle-container"><div class="row2 triangle"></div></div>
                        <div class="row3 left-terminal"><div class="edge"><div class="tree-edge tree-edge-center"></div></div><div class="square-container"><div class="square">100</div></div></div>
                        <div class="row3 right-terminal"><div class="edge"><div class="tree-edge tree-edge-center"></div></div><div class="square-container"><div class="square">8</div></div></div>
                    </div>
                </div>

                <div class="row1-right-branch-container">
                    <div class="edge"><div class="tree-edge tree-edge-right custom-edge-right-1"></div></div>
                    <input class="minimax-value-6 up-tri">
                    <div class="upsidedown-triangle-container"><div class="row1 upsidedown-triangle"></div></div>

                    <div class="row2-left-branch-container">
                        <div class="edge"><div class="tree-edge tree-edge-left custom-edge-left-2"></div></div>
                        <input class="minimax-value-4 tri">
                        <div class="triangle-container"><div class="row2 triangle"></div></div>
                        <div class="row3 left-terminal"><div class="edge"><div class="tree-edge tree-edge-center"></div></div><div class="square-container"><div class="square">1</div></div></div>
                        <div class="row3 right-terminal"><div class="edge"><div class="tree-edge tree-edge-center"></div></div><div class="square-container"><div class="square">2</div></div></div>
                    </div>

                    <div class="row2-right-branch-container">
                        <div class="edge"><div class="tree-edge tree-edge-right custom-edge-right-2"></div></div>
                        <input class="minimax-value-5 tri">
                        <div class="triangle-container"><div class="row2 triangle"></div></div>
                        <div class="row3 left-terminal"><div class="edge"><div class="tree-edge tree-edge-center"></div></div><div class="square-container"><div class="square">20</div></div></div>
                        <div class="row3 right-terminal"><div class="edge"><div class="tree-edge tree-edge-center"></div></div><div class="square-container"><div class="square">4</div></div></div>
                    </div>
                </div>

            </div>
        </div>

        <button id="basic-results-btn">See Your Score!</button>
        <div id="basic-results"></div>

        <div id="next-container">
        <a href="/alphabetaQuiz">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="#0077b6" class="bi bi-arrow-right-circle next-icon" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
            </svg>
        </a>
        <h6 class="icon-description">Alpha-beta Quiz</h6>
        </div>

    </div>
</div>

{% endblock %}>