{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='minimax-tutorials/alphabetaIntro.css')}}">

<p class="subtitle">Introduction to Alpha-beta Pruning</p>

<div class="intro-alphabeta-container">
    <div class="center">

        <h6 class="bold">Game trees can be huge, even for games like Tic-tac-toe</h6>
        <img class="game-tree" src="{{ url_for('static', filename='images/intro-alphabeta-game-tree.png') }}" alt="Alpha-beta Game Tree">
        <h6 class="remove-space">Searching every possible outcome for optimal moves is impractical</h6>
        <h5 class="custom-h5">Alpha-beta pruning comes to the rescue by eliminating needless branches, dramatically reducing the search space.</h5>

        <img class="minimax-tree" src="{{ url_for('static', filename='images/intro-alphabeta-minimax-tree.png') }}" alt="Alpha-beta Minimax Tree">
        <p class="info"><i>Pruned nodes are grey*</i></p>
        <h5 class="custom-h5">This tutorial will unveil how Alpha-beta Pruning makes navigating these vast possibilities feasible, ensuring efficient and optimal decision-making.</h5>

        <a href="/alphabetaMain">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="#0077b6" class="bi bi-arrow-right-circle next-icon" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
            </svg>
        </a>
        <h6 class="icon-description">Continue</h6>

    </div>
</div>

{% endblock %}